DATABASE_URL=
SECRET_KEY =
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 30
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=tasks
REDIS_URL=redis://cache:6379
CELERY_BROKER_URL=redis://cache:6379/0
CELERY_RESULT_BACKEND=redis://cache:6379/0