psycopg2-binary
asyncpg
pydantic
pydantic-settings
python-dotenv
SQLAlchemy[asyncio]
fastapi[standard]
passlib[bcrypt]
bcrypt==3.2.2
pytest
pytest-postgresql
pytest-asyncio
python-jose
structlog
alembic
aiosqlite
redis[asyncio]
celery[redis]
httpx
uvicorn[standard]
grpcio
grpcio-tools
prometheus-fastapi-instrumentator
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
opentelemetry-instrumentation-grpc